:root {
  box-sizing: border-box;
  font-size: 16px;
}

*,
:before,
:after {
  box-sizing: inherit;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  & > * {
    padding: 1em 1.5em;
    border: 2px solid #1d492d;
    margin: 0.5em;
    width: calc(100% - 1em);
  }
}

button {
  font-size: 1.2rem;
  margin: 0.5em;
  padding: 0.5em 1.5em;
  position: relative;
  left: 0;
}

input {
  margin: 0.5em;
  width: 80%;
  line-height: 2;
  font-size: 1.2rem;
}

#app2 {
  border: 2px solid #002f81;
  padding: 0.5em 1.5em;

  & > section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #27c48d;
    border-bottom: 0;
    & > span {
      font-size: 1.4rem;
      padding: 0.5em 1.5em;
    }
  }
}
